<div class="container" fxLayout="row" fxLayoutAlign="space-between center" style="width:100%">
    <span>{{projectService.getTimeMin$() | async}}</span>
    <mat-slider style="width:100%;"
                mat-discrete
                [ngModel]="projectService.getSelectedTime$() | async" (ngModelChange)="projectService.setSelectedTime($event)"
                [max]="projectService.getTimeMax$() | async"
                [min]="projectService.getTimeMin$() | async"
                tickInterval="1"
                [step]="projectService.getTimeInterval$() | async"
                thumbLabel="true"
                (change)="setTime()"></mat-slider>
    <span>{{projectService.getTimeMax$() | async}}</span>
</div>
