<mat-card>
    <mat-card-header>
        <mat-card-title>Plot-Time</mat-card-title>
    </mat-card-header>
    <mat-card-content style="position: relative;">
        <mat-slider #starttrack
                    style="position: absolute; left: 0;"
                    [displayWith]="formatLabel.bind(this)"
                    invert="true"
                    [style.width.%]="50 * (2 * time_end - 2 * time_min - 1) / (time_max - time_min + 1)"
                    thumbLabel
                    mat-discrete
                    [(ngModel)]="value"
                    max="{{time_end - 1 - time_min}}"
                    min="0"
                    step="1"
                    (input)="transform_start($event)"
        ></mat-slider>
        <mat-slider class="filler"
                    #filler
                    style="position: absolute;"
                    [style.width.%]="200  / (time_max - time_min + 1) - 1"
                    [style.left.%]="100 * ( time_end - time_min - 1) / (time_max - time_min + 1)"
                    value="1"
                    min="0"
                    max="1"
                    mat-discrete
                    (input)="recorrect()"
        ></mat-slider>
        <mat-slider #endtrack
                    style="position: absolute; right: 0;"
                    [style.width.%]="50 * (2 * time_max - 2 * time_start - 1) / (time_max - time_min + 1)"
                    step="1"
                    thumbLabel
                    mat-discrete
                    [(ngModel)]="time_end"
                    max="{{time_max}}"
                    min="{{time_start + 1}}"
                    step="1"
                    (input)="transform_value($event)"
        ></mat-slider>
        <p style="padding-top: 48px;" align="center">
            {{time_start}} - {{time_end}}
        </p>
    </mat-card-content>
</mat-card>
