<mat-card>
    <mat-card-header>
        <mat-card-title>Time</mat-card-title>
    </mat-card-header>
    <mat-form-field (change)="change_start($event)">
        <input matInput type="number" [(ngModel)] = "time_start" placeholder="Start" [max]="time_end - 1" [min]="2001">
    </mat-form-field>
    -
    <mat-form-field (change)="change_end($event)">
        <input matInput type="number" [(ngModel)] = "time_end" placeholder="End" [min]="time_start + 1" [max]="2012">
    </mat-form-field>
</mat-card>
