:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5rem;
}

button {
    min-width: 36px;
    width: 36px;
    padding: 0;
}

div, mat-toolbar {
    width: 33vw;
    height: 64px !important;
}

div {
    overflow: auto;
}

.geobon-logo {
    text-align: center;

    @media (max-width: 1480px) {
        flex: 1;
    }

    mat-icon {
        vertical-align: baseline;
        height: 1.5rem;
        width: 100px;
        margin-top: 0.75rem;
        margin-left: 0;
    }

    .title {
        font-family: 'Pacifico', cursive;
    }

    .subtitle {
        font-size: 0.5rem;
        position: absolute;
        margin-top: -1.25rem;
        margin-left: 0.5rem;
    }
}
