<p *ngIf="(projectService.getPlotStream() | async)?.length == 0" class="no-plots">
    no plots available
</p>
<div fxLayout="row" fxLayoutAlign="space-around start">
    <mat-card *ngFor="let plot of filter(projectService.getPlotStream() | async)"
              fxLayout="column"
              fxLayoutAlign="space-between">

        <mat-card-content *ngIf="(projectService.getPlotDataStatusStream(plot) | async) === LoadingState.LOADING">
            <mat-spinner></mat-spinner>
        </mat-card-content>
        <mat-card-content
            style="padding-right: 1rem; margin-bottom: 0;"
            *ngIf="(projectService.getPlotDataStatusStream(plot) | async) === LoadingState.OK"
            [ngSwitch]="(projectService.getPlotDataStream(plot) | async)?.type"
        >
            <div [style.width.px] = "(cardHeight$ | async) - 80"
                 [style.height.px] = "(cardHeight$ | async) - 80">
                <img src="data:image/png;base64,{{(projectService.getPlotDataStream(plot) | async)?.data}}"
                     alt="{{plot.name}}">
            </div>
        </mat-card-content>
        <mat-card-actions *ngIf="(projectService.getPlotDataStatusStream(plot) | async) === LoadingState.OK">
            <button mat-button (click)="showFullscreen(plot)"
            ><mat-icon>fullscreen</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>
