<div>
    <mat-slide-toggle
        [checked]="displayAsIcon"
        (change)="updateDisplayAsIcon($event)">
        Display as icon
    </mat-slide-toggle>
</div>
<table *ngIf="!displayAsIcon">
    <tr *ngIf="editStrokeWidth">
        <td>
            <span>Stroke width</span>
        </td>
        <td>
            <mat-slider #sls thumbLabel min="0" max="10" step="1" [value]="symbology.strokeWidth"
                        (change)="updateStrokeWidth($event)">
            </mat-slider>
            <span>{{sls.displayValue}} px</span>
        </td>
    </tr>
    <tr *ngIf="editRadius">
        <td>
            <span>Radius</span>
        </td>
        <td>
            <mat-slider #slr thumbLabel min="0" max="10" step="1" [value]="symbology.radius"
                        (change)="updateRadius($event)">
            </mat-slider>
            <span>{{slr.displayValue}} px</span>
        </td>
    </tr>
</table>
<!--
<div>
    <mat-form-field>
        <mat-select placeholder="Color Attribute" formControlName="attribute">
            <mat-option *ngFor="let attribute of (attributes$ | async)" [value]="attribute">{{attribute}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
-->

<div *ngIf="!displayAsIcon">
    <wave-color-breakpoint [ngModel]="symbology.fillColorBreakpoint" attributePlaceholder="Fill color" disabledAttribute="true"
                           (ngModelChange)="updateFill($event)">
    </wave-color-breakpoint>
    <wave-color-breakpoint [ngModel]="symbology.strokeColorBreakpoint" attributePlaceholder="Stroke color" disabledAttribute="true"
                           (ngModelChange)="updateStroke($event)">
    </wave-color-breakpoint>

</div>

<div *ngIf="!displayAsIcon">
    <mat-slide-toggle
        [checked]="colorizeByAttribute"
        (change)="updateColorizeByAttribute($event)">
        Colorize by attribute
    </mat-slide-toggle>

    <mat-form-field>
        <mat-select placeholder="Attribute"
                    [(ngModel)]="attribute"
                    (ngModelChange)="setColorizerAttribute()"
                    [disabled]="!colorizeByAttribute">
            <mat-option
                *ngFor="let attribute of attributes"
                [value]="attribute"
            >{{attribute.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<!--
<div *ngIf="displayAsIcon">
    <mat-form-field>
        <mat-select placeholder="Icon"
                    [(ngModel)]="iconAttribute"
                    (selectionChange)="updateIconUrl($event)">
            <mat-option *ngFor="let icon of iconAttributes" [value]="icon.uri">
                {{ icon.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>-->

<div>
    <table *ngIf="displayAsIcon">
        <tr>
            <td>
                <span>Icon</span>
            </td>
            <td>
                <mat-form-field>
                    <mat-select (selectionChange)="updateIconUrl($event)"
                                [compareWith]="compareFn"

                                [ngModel]="symbology.uri === undefined ? iconAttributes[0] : findIconByURI(symbology.uri)">
                        <mat-option *ngFor="let icon of iconAttributes" [value]="icon.uri">
                            {{ icon.name }}<img [src]="icon.uri" alt="icon" style="float: right">
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <span>Rotation</span>
            </td>
            <td>
                <mat-slider #sla thumbLabel min="0" max="360" step="1" [value]="symbology.rotation === undefined ? 0 : symbology.rotation"
                            (change)="updateRotation($event)"
                            [disabled]="!displayAsIcon">
                </mat-slider>
                <span>{{sla.displayValue}} °</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Opacity</span>
            </td>
            <td>
                <mat-slider #slb thumbLabel min="0" max="1" step="0.1" [value]="symbology.opacity === undefined ? 1 : symbology.opacity"
                            (change)="updateOpacity($event)"
                            [disabled]="!displayAsIcon">
                </mat-slider>
                <span>{{slb.displayValue}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Scale</span>
            </td>
            <td>
                <mat-slider #slc thumbLabel min="0" max="2" step="0.1" [value]="symbology.scale === undefined ? 1 : symbology.scale"
                            (change)="updateScale($event)"
                            [disabled]="!displayAsIcon">

                </mat-slider>
                <span>{{slc.displayValue}} x</span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="float: top">Icon color</span>
            </td>
            <td>
                <wave-color-breakpoint  [attributePlaceholder]="null"
                    [ngModel]="symbology.iconColorBreakpoint" disabledAttribute="true"
                                       (ngModelChange)="updateIconColor($event)"
                                       [disabled]="!displayAsIcon">
                </wave-color-breakpoint>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="colorizeByAttribute && !!symbology.colorAttribute">
    <wave-colorizer-editor [ngModel]="symbology.colorizer" (ngModelChange)="updateColorizer($event)" [attributePlaceholder]="attribute?.name" [inputType] = "attribute?.type"></wave-colorizer-editor>
</div>
